.mainContainer {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
}

/* For smaller screens */
@media (max-width: 768px) {
    .mainContainer {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .rightColumn {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 16px;
    }

    .sociallink {
        margin: 0 10px;
    }
}

.leftColumn {
    grid-column: 1 / 2;
}

.rightColumn {
    display: flex;
    flex-direction: column;
    grid-column: 2 / 2;
}

.sociallink {
    margin: 8px 0;
    padding: 8px;
}

.sociallink a {
    font-size: 1.1rem;
    color: #B6EADA;
    text-decoration: none;
}

svg:hover path {
    fill: #4B56D2;
}

.sociallink a:hover {
    color: #4B56D2;
}

.rightColumn>span {
    color: #B6EADA;
    font-size: 2rem;
}

.contactDiv>span {
    color: #B6EADA;
    font-size: 2rem;
    display: inline-block;
    margin-bottom: 32px;
}

.form {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    width: 80%;
    color: #B6EADA;
}

.formInput {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 8px;
}

.formInput>span {
    text-align: left;
}

.formInput>input,
.formInput>textarea {
    font-family: inherit;
    color: #301E67;
    outline: none;
    border-radius: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1.05rem;
}

.formInput>textarea {
    height: 100px;
    resize: vertical;
}

.formSubmit {
    font-family: inherit;
    color: #ffffff;
    background-color: #0F216B;
    width: 150px;
    padding: 16px;
    outline: none;
    border-radius: 10px;
    font-size: 1.2rem;
    border: none;
}

.formSubmit:hover {
    color: #B6EADA;
    opacity: 0.8;
    cursor: pointer;
}

.formSubmit:disabled {
    opacity: 0.6;
    cursor: wait;
}

.formSubmit.success:disabled {
    cursor: not-allowed;
}