html {
  scroll-behavior: smooth;
}

::selection {
  background: #B97A95;
}

::-webkit-scrollbar {
  width: 0.7vw;
}

::-webkit-scrollbar-thumb {
  background: #CD0404;
}

::-webkit-scrollbar-thumb:hover {
  background: #0015cc;
}

body {
  text-align: center;
  background-color: #0B0C10;
}